*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background: yellow;
    font-family: sans-serif;
    

}
.navbar .logo a {
    color: darkblue;
    font-size: 35px;
    font-weight: 600;
}
.navbar menu li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar .menu li a{
    color:darkblue;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;

}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* Home section styling */
.home{
    display: flex;
    background: url("images/ebenezer.jpeg") no-repeat center;
    height: 100vh;
    color: #ffffff;
    min-height: 500px;
    font-family: sans-serif;



}


